<div id="<%= dom_id server %>">
  <p>
    <strong>Name:</strong>
    <%= server.name %>
  </p>

  <p>
    <strong>Operatingsystem:</strong>
    <%= server.operatingsystem_id %>
  </p>

  <p>
    <strong>Appserver:</strong>
    <%= server.appserver_id %>
  </p>

  <p>
    <strong>Appserver version:</strong>
    <%= server.appserver_version_id %>
  </p>

  <p>
    <strong>Environment:</strong>
    <%= server.environment_id %>
  </p>

  <p>
    <strong>Appserverstatus:</strong>
    <%= server.appserverstatus_id %>
  </p>

</div>
