<div id="<%= dom_id operatingsystem %>">
  <p>
    <strong>Name:</strong>
    <%= operatingsystem.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= operatingsystem.description %>
  </p>

  <p>
    <strong>Support start:</strong>
    <%= operatingsystem.support_start %>
  </p>

  <p>
    <strong>Support end:</strong>
    <%= operatingsystem.support_end %>
  </p>

</div>
