
  <tr id="<%= dom_id app_code %>">
    <td class="d-none d-xl-table-cell"><%= app_code.name %></td>
    <td class="d-none d-xl-table-cell"><%= app_code.description %></td>
    <td class="d-none d-xl-table-cell"><%= app_code.manager %></td>
    <td class="d-none d-xl-table-cell"> <%= app_code.manager_email %></td>
    <td class="d-none d-md-table-cell"> <%= app_code.support_email %></td>
  </tr>
