<p style="color: green"><%= notice %></p>

<%= render @app_code %>

<div>
  <%= link_to "Edit this app code", edit_app_code_path(@app_code) %> |
  <%= link_to "Back to app codes", app_codes_path %>

  <%= button_to "Destroy this app code", @app_code, method: :delete %>
</div>
