
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">PatchBuddy</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>

      <li class="sidebar-item active">
        <i class="align-middle" data-feather="square"></i> <span class="align-middle"><%= link_to "Dashboard", home_index_path, class: 'sidebar-link'  %></span>
      </li>

      <li class="sidebar-item">
        <i class="align-middle" data-feather="square"></i> <span class="align-middle"><%= link_to "Servers", servers_path, class: 'sidebar-link'  %></span>
      </li>


      <li class="sidebar-header">
        Application Data Management
      </li>

      <li class="sidebar-item">

        <i class="align-middle" data-feather="square"></i> <span class="align-middle"><%= link_to "Application Codes", app_codes_path, class: 'sidebar-link'  %></span>

         <!-- <i class="align-middle" data-feather="square"></i> <span class="align-middle">Application Codes</span> -->

      </li>

      <li class="sidebar-item">
        <i class="align-middle" data-feather="square"></i> <span class="align-middle"><%= link_to "Operating Systems", operatingsystems_path, class: 'sidebar-link'  %></span>
      </li>

      <li class="sidebar-item">
        <i class="align-middle" data-feather="square"></i> <span class="align-middle"><%= link_to "Environments", environments_path, class: 'sidebar-link'  %></span>
      </li>

      <li class="sidebar-item">
        <i class="align-middle" data-feather="square"></i> <span class="align-middle"><%= link_to "Application Servers", appservers_path, class: 'sidebar-link'  %></span>
      </li>

      <li class="sidebar-item">
        <i class="align-middle" data-feather="square"></i> <span class="align-middle"><%= link_to "Application Servers Version", appserver_versions_path, class: 'sidebar-link'  %></span>
      </li>
      <li class="sidebar-item">
        <i class="align-middle" data-feather="square"></i> <span class="align-middle"><%= link_to "Application Status",  appserverstatuses_path, class: 'sidebar-link'  %></span>
      </li>

      <li class="sidebar-header">
        Patching Events
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="charts-chartjs.html">
          <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Calendar</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="maps-google.html">
          <i class="align-middle" data-feather="map"></i> <span class="align-middle">Schedule</span>
        </a>
      </li>
    </ul>
  </div>
</nav>