<!DOCTYPE html>
<html>
<head>
  <title>Midddleware Patch Management System (MPMS)</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "app", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
<div class="wrapper">

  <%= render "layouts/leftmenu" %>
  <div class="main">
    <%= render "layouts/topmenu" %>
<%= render "layouts/alerts" %>
<%= yield %>
  <%= yield :footer %>
</div>
</div>


</body>
</html>